div {
    width: 120px;
    height: 120px;
    background: red;
}

div:nth-child(1) {
    background:blue;
}

div div:nth-child(1) {
    background:yellow;
}
div div:nth-child(2)
{
    background:orange;
}

div:nth-child(1):hover + 
div:nth-child(2) {
    background:rgb(177, 0, 246);
}